#nombre{
   
    font-family: 'Playfair Display', serif;
    margin-bottom: 0px;
    padding: 0px;
    letter-spacing: -1px;
}

.bold{
    font-family: 'Lato', sans-serif;
    margin-left: 62px;
    margin-bottom: 0px;
    color: rgb(80, 80, 80);
    font-size: 12px;
}

#logo{
    color: rgb(59, 59, 59);
    margin-left: 128px;
}

/* <!-- PAGE 1 --> */

.contenedor{
    margin-left: 128px;
    width: 90%;

  }

.fotos-portada{
    margin-left: 10px;
}

.texto-portada {
    margin-top: 154px;
}

.text1{
    font-family: 'Playfair Display', serif;
    color: rgb(187, 187, 187);
}

.placer{
    font-family: 'Dancing Script', cursive;
    font-size: 68px;
}

.tarta1{
    width: 283px;
}

.tarta2{
    width: 200px;
    margin: 20px 20px 126px 0;
}
.tarta3{
    width: 200px;
    margin: 20px 0 126px 0;
}

/* <!-- PAGE 2 --> */

.page-2{
    background-color: rgb(228, 220, 201);
}

.img-pan{
    width: 354px;
    margin: 80px 0 80px 80px;
}

.pan{
    font-family: 'Playfair Display', serif;
    font-size: 37px;
    position: relative;
    top: 181px;
    left: 38px;
}

.sobre{
    font-family: 'Dancing Script', cursive;
    font-size: 121px;
    position: relative;
    top: 129px;
    left: 83px;

}

.text-p2{
    position: relative;
    top: 129px;
    left: 83px;
}

/* <!-- PAGE 3 --> */

.page-3{
    background-color: rgb(51, 51, 51);
    padding: 103px;
}

.row-1{
    padding-right: 50px !important;
}
.row-2{
    margin-top: 81px !important;
}

.p3-titulo{
    font-family: 'Playfair Display', serif;
}

/* <!-- PAGE 4 --> */

.page-4{

    margin-bottom: 143px;
}

.p4-vida{
    font-family: 'Playfair Display', serif;
    font-size: 37px;
    position: relative;
    top: 47px;
    left: 80px;
    color: rgb(104, 104, 104);
}

.p4-nuestro{
    font-family: 'Dancing Script', cursive;
    font-size: 71px;
    position: relative;
    top: 5px;
    left: 97px;
}

.p4-fotos{
    top: 16px;
    position: relative;
}

.p4-img {
    
    width: 100%;
    height: 100%;
    /* object-fit: none; */
    object-fit: cover;
    
  }

.caja1 {
    width: 100%;
    height: 270px;
    position: relative;
    padding-left: 80px;
    /* top: 54px; */
    /* right: 15px; */
    /* border: 1px solid black; */
  }

  .caja1 img{
    object-position: 50% 99%;
  }
  
  .caja2 {
    width: 100%;
    height: 270px;
    position: relative;
    padding-left: 80px;
    padding-top: 15px;
    /* top: 69px; */
    /* right: 15px; */
    /* border: 1px solid black; */
  }

  .caja2 img{
    object-position: 50% 43%;
  }

  .caja3 {
    width: 100%;
    height: 180px;
    position: relative;
    padding-left: 15px;
    /* top: 54px; */
    /* right: 15px; */
    /* border: 1px solid black; */
  }
  
  .caja4 {
    width: 100%;
    height: 180px;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    /* top: 69px; */
    /* right: 15px; */
    /* border: 1px solid black; */
  }
  .caja5 {
    width: 100%;
    height: 180px;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    /* top: 84px; */
    /* padding-bottom: 15px; */
    /* right: 15px; */
    /* border: 1px solid black; */
  }
  .caja6 {
    width: 100%;
    height: 270px;
    position: relative;
    padding-left: 15px;
    /* top: 54px; */
    padding-right: 80px;
    /* border: 1px solid black; */
  }
  
  .caja7 {
    width: 100%;
    height: 270px;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    /* top: 69px; */
    padding-right: 80px;
    /* border: 1px solid black; */
  }

 /* <!-- PAGE 5 --> */

 .page-5{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
 }
 .page-5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }