#nombre{
   
    font-family: 'Playfair Display', serif;
    margin-bottom: 0px;
    padding: 0px;
    letter-spacing: -1px;
}

.bold{
    font-family: 'Lato', sans-serif;
    margin-left: 62px;
    margin-bottom: 0px;
    color: rgb(80, 80, 80);
    font-size: 12px;
}

#logo{
    color: rgb(59, 59, 59);
    margin-left: 128px;
}

/* <!-- PAGE 1 --> */

.contenedor{
    margin-left: 128px;
    width: 90%;

  }

.fotos-portada{
    margin-left: 10px;
}

.texto-portada {
    margin-top: 154px;
}

.text1{
    font-family: 'Playfair Display', serif;
    color: rgb(187, 187, 187);
}

.placer{
    font-family: 'Dancing Script', cursive;
    font-size: 68px;
}

.tarta1{
    width: 330px;
}

.tarta2{
    width: 272px;
    margin-right: 1rem;
}
.tarta3{
    width: 272px;
}

/* <!-- PAGE 2 --> */

.page-2{

    background-color: rgb(228, 220, 201);
}

.pan1{
    width: 393px;
}